.footer-container{
    background-color: #af9e8185;
    width: 100%;
    bottom: 0;
    display: flex;
    flex-direction: row;
}
.social-media-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.social-media-container i {
    font-size: 250%;
    padding: 1% 2.5% 1% 2.5%;
    color: white;
}
.social-media-container i:hover {
    color: rgba(0, 0, 0, 0.472);
    transition: 850ms;
    color: black;
    transform: translateY(-5px);
}

.menu-footer-container {
    width: 50%;
    padding: 2%;
}
.menu-footer {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;

}
.menu-footer-elements {
    color: black;
    text-decoration: none;
}
.menu-footer-elements:hover {
    transform: translateY(-3px);
    color: black;
}

@media screen and (max-width: 640px) {
    .footer-container{
        padding-top: 5%;
        flex-direction: column;
        align-items: center;
    }
    .social-media-container {
        padding-bottom: 5%;
    }
    .menu-footer {
        flex-direction: column;
        align-items: center;
    }
}