/* CONTAINER */

.about-us-container {
    padding-top: 5%;
    background-color: #5bc9b717;
}

/* ABOUT US TEXT */
.about-us-text-container {
    padding: 5% 12.5% 0% 12.5%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.about-us-text {
    width: 50%;
    padding: 2%;
    text-align: center;
}
.about-us-text p {
    font-size: 1.5rem;
    color: black;
}
.about-us-text h1 {
    color: black;
    font-size: 3rem;
    margin-bottom: 15%;
}
.about-us-text-container img {
    width: 50%;
    padding: 2%;
}

/* ABOUT US VISION */

.about-us-vision-container {
    background-color: #ffffff;
}
.about-us-vision {
    padding: 5% 12.5% 5% 12.5%;
    width: 75%
}
.about-us-vision h1 {
    font-size: 3rem;
}
.about-us-vision p {
    font-size: 1.5rem;
}


@media screen and (max-width: 640px) {
    .about-us-container{
        padding-top: 10%;
    }
    .about-us-text-container {
        padding-top:15%;
        flex-direction: column;
    }
    .about-us-text {
        width: 100%;
    }
    .about-us-text-container img {
        width: 100%;
        margin-bottom: 15%;
    }
}